
<h3>友情链接</h3>
{% for link in site.data.links %}
<a href="{{ link.url }}" target="_blank" class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ link.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    {{ link.name }}
                </h3>
            </div>
        </div>

    </div>
</a>
{% endfor %}

<script type="text/javascript">var jd_union_pid="1735706811";var jd_union_euid="";</script><script type="text/javascript" src="//ads-union.jd.com/static/js/union.js"></script>