<script
    type="text/javascript">var jd_union_unid = "1000004609", jd_ad_ids = "513:6", jd_union_pid = "CK/F/eKXLRCBuOvcAxoAIMyK0LsGKgA="; var jd_width = 0; var jd_height = 0; var jd_union_euid = ""; var p = "AhQFUR1eHAATBGVEH0hfIlgRRgYlXVZaCCsfSlpMWGVEH0hfIkAjZgBiVRV%2FMEELcXxWYSN8M1xbFkFZF2sVBBAEXBJaFwcSN1UaWhQDEwJSGlMlMk1DCEZrXmwTNwpfBkgyEgNRGF8SChsHXRJYHDITN2Ur";</script>
<script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>
<h3>友情链接</h3>
{% for link in site.data.links %}
<a href="{{ link.url }}" target="_blank" class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ link.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    {{ link.name }}
                </h3>
            </div>
        </div>

    </div>
</a>
{% endfor %}